In [1]:
%matplotlib inline

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib.patches as patches

# To stop potential randomness
seed = 42
rng = np.random.RandomState(seed)

In [2]:
data= pd.read_csv('data.csv')

In [4]:
data.head()

           FILE_NAME CHARACTER  X_min  y_min  length  height
0  100241706_00006_1    U+3082   1455   3009      65      44
1  100241706_00006_1    U+516B   1654   1528     141      75
2  100241706_00006_1    U+309E   1714   1106      80      80
3  100241706_00006_1    U+306B    403   2050      61      81
4  100241706_00006_1    U+308B   1692   3291      57     101

In [5]:
# To stop potential randomness
seed = 42
rng = np.random.RandomState(seed)

In [6]:
data.CHARACTER.value_counts()

U+3092    5
U+5618    5
U+306E    3
U+306B    2
U+304D    2
U+3089    2
U+3082    2
U+308A    2
U+3064    2
U+308F    1
U+540C    1
U+767E    1
U+9580    1
U+309E    1
U+6B21    1
U+6211    1
U+8FD1    1
U+3067    1
U+5F25    1
U+304B    1
U+3072    1
U+8FFD    1
U+4F55    1
U+306C    1
U+516B    1
U+85AE    1
U+7136    1
U+306F    1
U+3053    1
U+3075    1
U+66F8    1
U+6E80    1
U+4EA4    1
U+306A    1
U+6797    1
U+305A    1
U+3042    1
U+3005    1
U+4E2D    1
U+3079    1
U+5C41    1
U+308C    1
U+90CE    1
U+67D0    1
U+304F    1
U+5DF1    1
U+90E8    1
U+6893    1
U+6D45    1
U+308B    1
U+92F3    1
U+3057    1
U+3051    1
U+3058    1
U+51E6    1
U+3081    1
Name: CHARACTER, dtype: int64