In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df_train = pd.read_csv('./train.csv')
unicode_map = {codepoint: char for codepoint, char in pd.read_csv('./unicode_translation.csv').values}

In [3]:
df_train.head(12)

             image_id                                             labels
0   100241706_00004_2  U+306F 1231 3465 133 53 U+304C 275 1652 84 69 ...
1   100241706_00005_1  U+306F 1087 2018 103 65 U+304B 1456 1832 40 73...
2   100241706_00005_2  U+306F 572 1376 125 57 U+306E 1551 2080 69 68 ...
3   100241706_00006_1  U+3082 1455 3009 65 44 U+516B 1654 1528 141 75...
4   100241706_00007_2  U+309D 1201 2949 27 33 U+309D 1196 1539 27 36 ...
5   100241706_00008_1  U+25B2 1056 929 96 39 U+309D 379 1098 21 43 U+...
6   100241706_00008_2  U+25B2 1648 955 95 44 U+25B2 1887 947 96 45 U+...
7   100241706_00009_1  U+3078 1551 2071 104 41 U+3078 323 1473 135 43...
8   100241706_00009_2  U+309D 1452 1423 20 37 U+3078 690 2535 121 41 ...
9   100241706_00010_1  U+3078 587 1127 100 40 U+3064 1103 1480 60 45 ...
10  100241706_00010_2  U+309D 493 1972 20 37 U+25B2 697 935 100 44 U+...
11  100241706_00011_1  U+309D 1823 1225 21 35 U+25B2 1548 936 91 43 U...

df_train = df_train[:5]

In [4]:
image_name='100241706_00010_1'
image_name = '100249371_00030_2'
df_train[df_train['image_id']==image_name]

              image_id labels
126  100249371_00030_2    NaN

In [5]:
image,label = df_train[df_train['image_id']==image_name].values[0]
if(pd.isnull(label)):
    print(image,1)
else :
    labels = np.array(label.split(' ')).reshape(-1, 5)
    print(labels.shape[0])

100249371_00030_2 1

In [6]:
rows = df_train.shape[0]
data_rows=[]
print(rows)
for rowNum in range(rows):
#    print(df_train.iloc[rowNum]['image_id'])
    img, labels = df_train.values[rowNum]
    if(pd.isnull(labels)):
        data_rows.append(img)
    else:
        labels = np.array(labels.split(' ')).reshape(-1, 5)
        labeldf = pd.DataFrame(labels)#, columns =['Label', 'xminn','ymin','length','width'])
        labeldf['Image'] = img
        labeldf.to_csv('myCsv.csv',mode='a',header=False,index=False)

3881

In [7]:
# Create file with list of empty Image
emptyImages = pd.DataFrame(data_rows)#, columns =['Label', 'xminn','ymin','length','width'])
emptyImages.to_csv('emptyImages.csv',mode='a',header=False,index=False)
emptyImages.head()

                   0
0  100241706_00038_2
1  100241706_00039_1
2  100241706_00039_2
3  100241706_00040_1
4  100249371_00003_2

In [ ]:
labels[3]

In [ ]:
columns =['Label', 'xminn','ymin','length','width']